body{
    margin:0;
    padding:0;
    font-family:sans-serif;
  }
  
  .rotate {
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }
  
  .sidebar-contact{
    position:fixed;
    top:50%;
    right:-350px;
    transform:translateY(-50%);
    width:350px;
    height:auto;
    padding:40px;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
  }
  .sidebar-contact.active{
    right:0;
  }
  .sidebar-contact input,
  .sidebar-contact textarea{
    width:100%;
    height:36px;
    padding:5px;
    margin-bottom:10px;
    box-sizing:border-box;
    border:1px solid rgba(0,0,0,.5);
    outline:none;
  }
  .sidebar-contact h2{
    margin:0 0 20px;
    padding:0;
  }
  .sidebar-contact textarea{
    height:60px;
    resize:none;
  }
  .sidebar-contact input[type="submit"]{
    background:#00bcd4;
    color:#fff;
    cursor:pointer;
    border:none;
    font-size:18px;
  }
  .toggle{
    position:absolute;
    height:50px;
    width:85px;
    text-align:center;
    cursor:pointer;
    background:#337ab7;
    left:-68px;
    line-height:48px;
  }
 
  
  .toggle:before{
    font-family:fontAwesome;
    font-size:16px;
    color:#fff;
    
  }
  .toggle.active:before{
    content:'\f00d';
    left:70px;
  }
  .toggle.active span {
      display: none;
  }
  @media(max-width:768px)
  {
    .sidebar-contact{
      width:100%;
      height:100%;
      right:-100%;
    
    }
    .sidebar-contact .toggle{
      top:60%;
      /* transform:translateY(-50%); */
      transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
      top:10;
      right: 10;
      left:0;
      transform:translatex(0);
    }
    .scroll{
      width:100%;
      height:100%;
      overflow-y:auto;
    }
    .content{
      padding:50px 50px;
    }
  }
  .feedback_ {
    background: #fff;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 50px auto;
    -moz-box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    box-shadow: 0 0 3px #555;
    padding: 15px;
  }
  .feedback_ h1 {
    font-size: 1.2em;
    color: #336699;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
  }
  .feedback_ p {
    font-size: 0.75em;
    margin-bottom: 5px;
  }
  .feedback_ ul.type li {
    display: inline-block;
    margin-right: 5px;
  }
  .feedback_ ul.type li:last-child {
    margin-right: 0;
  }
  .feedback_ ul.type li.active a {
    background: #336699;
    color: white;
    position: relative;
  }
  .feedback_ ul.type li.active a:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #336699;
    border-width: 5px;
    margin-left: -5px;
  }
  .feedback_ ul.type a {
    background: #f1f1f1;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.8em;
    color: #555;
  }
  .feedback_ ul.type a:hover {
    background: #336699;
    color: white;
  }
  .feedback_ ul.type a i {
    margin-right: 2px;
  }
  .feedback_ ul.type.speed li:first-child a:hover {
    background: #57a854;
    color: white;
  }
  .feedback_ ul.type.speed li:nth-child(2) a:hover {
    background: #208cb6;
    color: white;
  }
  .feedback_ ul.type.speed li:last-child a:hover {
    background: #f65b4f;
    color: white;
  }
  .feedback_ .form {
    margin-top: 10px;
  }
  .feedback_ .form textarea {
    min-height: 150px;
    resize: none;
  }
  .feedback_ .form input, .feedback .form textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e6e6e6;
  }
  .feedback_ button.success {
    padding: 10px 15px;
    background: #337ab7;
    margin-top: 10px;
    margin-left: 200px;
    color: white;  
  }
  .name{
      color: white;   
  }