/* ---------------------------------------------------------------------
@author: Rupali Mahadik
@co-author: Tatiana Williamson
@description: list.css 
@date-created: January 2018
@update: February 27 2019 - Tatiana Williamson - Updated summary table style
-------------------------------------------------------------------------*/

.img-cartoon {
    display: block;
    max-width: 500px;
    max-height: 160px;
    width: auto;
    height: auto;
    -webkit-transform: scale(1.0);
    transform: scale(0.8);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #ddd;
    z-index: 99999;
    overflow: scroll;
}

.img-wrapper{
    z-index: -1;
    padding-left:10px;
    padding: 0.5em;
    width: 500px;
}

.img-cartoon:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #ddd;
    z-index: 99999;
}

/* table */
.fixed-table-container {
    margin-bottom: 150px;
    margin-top: 25px;
} 


/*tr {*/
  /*border: 1px solid #dddddd;*/
  /*text-align: left;*/
  /*padding: 8px;*/
/*}*/

/*
.panel-default {
  border-color: #0c0a0a;
}
*/

thead{
    /*background-color: #659bc9;*/
    /*color: #555;*/

    background-color: #659BC9;
    color: #fff;
    vertical-align: middle; 
    padding: 3px 0;   
}
.results-table-top {
    width: 50%; 
    margin: 0 auto; 
    overflow: auto; 
    margin-bottom: 20px;
}

.table {
    background-color: #fff;
    border-left: 1px solid #ddd;
/*
    width: 99.9998%;
    float: right;
*/
}

/*th {*/
  /*text-align: center;*/
/*}*/


/* for applying #777 border to table */
.fixed-table-container {
    position: relative;
    clear: both;
    /*  border: 1px solid #777777;*/
    border: 1px solid #ccc;
}

.bootstrap-table .table tr>th{
    border-color: #ccc;
}

.fixed-table-container tbody td{
/*  border-color: #777777;*/
/*    border-color: #ddd; */
}

#sortbottom{
    margin-top: -120px;
}

/* Table hovering color */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e2e8ef;
}
pre {
    background-color: #e6e6e6;
    width:70%;
}

#demosearch{
    overflow: hidden;
}


.prevbutton[disabled],
.nextbutton[disabled]{
    cursor: not-allowed;
}

/* error modal css */
.ajs-modal {
    margin-top: 290px;
}

#paginationctrl15 {
    padding-top: 0px;
}

.btn-primary-updateSearch {
    color: #204d74;
    background-color: #fff;
    border-color: #337ab7;   
}

.btn-primary-updateSearch:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.panel-heading h3 {
    margin-top: 0;
    margin-bottom: 0
}

#listview {
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
}

.limit-text-size {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1300px) {
    .table tbody {
        left: 25%;
    }
}

@media (min-width: 1301px) {
    .table tbody {
        left: 30%;
    }
}

@media (min-width: 1900px) {
    .table tbody {
        left: 34%;
    }
}

.table tbody {
    width: 50%;
    }
