/* ---------------------------------
The homepage
@author: Tatiana Williamson
@description: UO1 Version-1.0.1
@date-created: January 21, 2018
@updated: October 18, 2018
 ------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Verdana", "Geneva", sans-serif;
    color: #4A4A4A;
    background-color: #f5f5f5;
    font-weight: 400;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility\9;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Verdana", "Geneva", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.625em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.875em;
    font-family: "Verdana", "Geneva", sans-serif;
}

h4 {
    font-size: 1.5em;
    font-family: "Verdana", "Geneva", sans-serif;
    line-height: 1.2;
}

h5 {
    font-size: 1.25em;
    font-family: "Verdana", "Geneva", sans-serif;
    line-height: 1.3;
}

h6 {
    font-size: 1.125em;
    font-family: "Verdana", "Geneva", sans-serif;
    line-height: 1.4;
}

p {
    font-weight: 500;
    margin: .5em 0 1em;
    font-size: 1.3em;
}

.statistics-table td {
    width: 83%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.statistics-table table,
.statistics-table th,
.statistics-table td {
    border: 1px solid transparent;
}

.title {
    margin: 0 0 .5em 0;
}

/*-------------------------
    Header 
--------------------------- */
#logo {
    padding-top: 0;
    padding-left: 35px;
    padding-right: 15px;
}

.gg-brand2 {
    padding: 0 0 55px;
}

.navbar-brand {
    padding: 8px 10px 0 0;
}

.gg-navbar {
    background: #2E78B7;
    border-color: #2E78B7;
    border-radius: 0 !important;
    margin-bottom: 30px;
    z-index: 12;
}

.gg-nav-item a {
    font-family: "Verdana", "Geneva", sans-serif;
    color: #fff !important;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: -6px;
}

.gg-navbar-inverse .gg-nav-nav > .open > a,
.gg-navbar-inverse .gg-nav-nav > .open > a:focus,
.gg-navbar-inverse .gg-nav-nav > .open > a:hover {
    background-color: #2E78B7;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: #fff;
}

.nav > li a:hover {
    color: #AFD9FD !important;
}

.nav li.current a {
    margin-right: -15px;
    margin-left: -15px;
}

.nav li.current {
    border-bottom: 4px solid #B7D2EC;
    margin: 0 15px;
}

.gg-dropd-menu {
    background-color: #2E78B7;
    font-size: 1em;
    padding-bottom: 10px !important;
}

.gg-dropd-menu > li > a:hover {
    text-decoration: none;
    color: #1C4E78 !important;
    background-color: #eee !important;
}

.gg-form {
    font-family: "Verdana", "Geneva", sans-serif;
}

.gg-btn {
    font-size: 14.5px !important;
}

/* Do not uncomment its for future use-
        Rupali */
/* .breadcrumb {
    background-color: transparent; 
    font-size: 18px;
    margin-top: -30px; 
} */

/*------------------------
    Footer 
-------------------------*/
#logo-uga {
    width: 70px;
    padding-right: 20px;
}

#logo-gwu {
    width: 50px;
}

.container {
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    min-height: 60px;
    background-color: #2E78B7;
    color: white;
    font-size: 1.1em;
    font-family: "Verdana", "Geneva", sans-serif;
    z-index: 9;
}

.copyrights {
    padding-bottom: 10px;
}

.grant {
    padding-bottom: 10px;
}

.policy ul li {
    display: inline;
    padding: 10px;
}

.logos {
    padding-top: 5px;
    padding-bottom: 10px;
}

.copyrights a,
.grant a,
.policy ul li a {
    color: #fff;
    padding-bottom: 5px;
}

.copyrights a:hover,
.grant a:hover,
.policy ul li a:hover {
    color: #AFD9FD;
    text-decoration: none;
}

.tweeterMarginBottom {
    margin: 0;
    overflow: hidden;
    right: 0;
    left: 0;
}
/*  -------------------------
    Homepage 
-----------------------------  */
#glygen-h1 {
    font-family: Georgia, sans-serif;
    color: #2E78B7;
}

.homepageContainer {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.gg-img-card {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: solid;
    border-color: #f1f1f1;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gg-card-explore {
    border-top: 1px solid #D4D4D4;
}

.gg-card-explore a,
.gg-card-see-all a {
    text-decoration: none !important;
    padding-top: 20px;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

.gg-card-see-all a {
    padding-top: 0;
}

.gg-panel-links ul {
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 15px;
}

.gg-panel-links a {
    text-decoration: none !important;
    padding-top: 20px;
    font-weight: 600;
}

.home-headings {
    padding-top: 10px;
}

.statistics-table {
    margin-bottom: 10px;
}

.errorMessageHomepage {
    font-weight: bold;
    text-align: center;
}

/* -------------------------
    Alert 
---------------------------- */
.gg-alert {
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #5f5f5f;
    color: #eee;
    font-size: 17px;
    text-align: center;
    z-index: 999;
    display: none;
}

.alert {
    padding: 8px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 0px !important;
}

.btn-default {
    background-color: #F0F0F0;
    border-color: #ccc;
    color: #5F5F5F !important;
    font-weight: 600;
}

.btn-default:hover {
    background-color: #5F5F5F;
    border-color: #ccc;
    color: #F0F0F0 !important;
    font-weight: 600;
}

.gg-btn-margin {
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

/* --------------------------
    The Close alert Button 
-----------------------------*/
#close_banner {
    /* color: white; */
    /* float: right; */
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}

#close_banner:hover,
#close_banner:focus {
    color: #979797;
    text-decoration: none;
    cursor: pointer;
}

/* -----------------------------------------------
    GlyGen settings Enaibled Disabled page 
-------------------------------------------------*/
.gg-settings {
    width: 700px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}

/* ---------------------------
    Toggle button       
------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #3277b7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3277b7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ------------------------------
    Rounded sliders 
--------------------------------*/
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/*----------------------------
    License
------------------------------*/
#license-tabble {
    border: 1px solid #ddd;
    width: 99.999%;
    text-indent: 10px;
}

.panel-heading {
    background-color: #E8E8E8 !important;
    color: #444 !important;
}

/*------------------------
    Contact Us 
--------------------------*/
#contact-header {
    margin-bottom: 30px;
}

label.labelContactUs {
    color: #333;
    font-size: 1.25em;
}

.btn-send {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

#google-container {
    position: relative;
    background-color: #e7eaf0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#address {

    text-align: center;
    color: #fff;
}

#map-address {
    background: #6f6f6f;
    color: #fff;
    height: 50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.list {
    list-style: none;
    padding: 5px 0;
    margin-bottom: 25px;
}

.list li {
    text-decoration: none;
}

#message {
    margin-bottom: 15px;
}

#success-message {
    color: #4cae4c;
}

/* ----------------------------
        About us page
-------------------------------*/
#top-heading {
    padding: 0 80px;
}

#team-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.about-section {
    background: #fff;
}

.about-block {
    padding-top: 10px;
    ;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 10px;
    border: 1px solid #dadada;
}

.team {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
}

.page-heading {
    color: #2F78B7;
}

.about-link {
    color: #2F78B7;
    text-decoration: none !important;
}

.about-link:hover {
    color: #00386F;
}

.mission-img {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('../images/about-mission.gif') top center no-repeat;
}

.cover {
    background-size: cover;
    display: table;
    width: 100%;
    height: 350px;
    padding: 0 10%;
    box-shadow: inset 0 0 60px #aaa;
}

.cover-text {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.cover-text ul {
    margin: 0;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.about-map-img {
    background-size: cover;
    width: 99%;
}

/* ------------------------------------------
    Resources
--------------------------------------------*/
.resources-top-img {
    background: linear-gradient(rgba(46, 120, 160, 0.8), rgba(46, 120, 180, 0.9), rgba(46, 120, 183, 0.8)), url('../images/resources/resources-top-img.png') top center no-repeat;
    background-size: cover;
}

.cover-resources {
    background-size: cover;
    display: table;
    width: 99%;
    height: 350px;
    padding: 0 20%;
    box-shadow: inset 0 0 200px #333;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.panel-heading-glycan {
    background: #2E78B7 !important;
    color: #fff !important;
    text-align: center;
}

.panel-heading-protein {
    background: #599194 !important;
    color: #fff !important;
    text-align: center;
}

.panel-heading-glycoProtein {
    background: lightcoral !important;
    color: #fff !important;
    text-align: center;
}

.content {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

#img-hr {
    width: 200px;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.research-menu {
    width: 350px;
    height: 180px;
    background: #FFF;
    border-radius: 8px;
    /*    float: left;*/
    margin: 20px;
}

.research-data-menu {
    border: 1px solid #2E78B7;
}

.research-data-menu h5 {
    color: #2E78B7;
    text-align: center;
}

.research-data-menu:hover,
.research-data-menu:focus,
.research-data-menu:active {
    background: #E5EEF6;
}

.research-data-table {
    width: 99.98%;
    float: left;
}

.research-data-table thead {
    background: #659BC9;
}

.research-data-table th {
    color: #fff;
}

.research-data-table h3 {
    color: #2E78B7
}

.learn-glycobiology-menu {
    border: 1px solid #663399;
}

.learn-glycobiology-menu h5 {
    color: #663399;
    text-align: center;
}

.learn-glycobiology-menu:hover,
.learn-glycobiology-menu:focus,
.learn-glycobiology-menu:active {
    background: #EFEAF4;
}

.learn-glycobiology-table thead {
    background: #AD8CCD !important;
    color: #fff;
}

.learn-glycobiology-table h3 {
    color: #663399;
}

.website-tour-menu {
    border: 1px solid #EE7475;
}

.website-tour-menu h5 {
    color: #EE7475;
    text-align: center;
}

.website-tour-menu:hover,
.website-tour-menu:focus,
.website-tour-menu:active {
    background: #F4E7E7;
}

.glycan-search-menu {
    border: 1px solid #0431FA;
}

.glycan-search-menu h5 {
    color: #0431FA;
    text-align: center;
}

.glycan-search-menu:hover,
.glycan-search-menu:focus,
.glycan-search-menu:focus {
    background: #E5EAFE;
}

.protein-search-menu {
    border: 1px solid #599194;
}

.protein-search-menu h5 {
    color: #599194;
    text-align: center;
}

.protein-search-menu:hover,
.protein-search-menu:focus,
.protein-search-menu:active {
    background: #E5EBEB;
}

.glycoProtein-search-menu {
    border: 1px solid #0FA4AC;
}

.glycoProtein-search-menu h5 {
    color: #0FA4AC;
    text-align: center;
}

.glycoProtein-search-menu:hover,
.glycoProtein-search-menu:focus,
.glycoProtein-search-menu:active {
    background: #E2F4F5;
}

.goToTop {
    float: right;
    padding: 5px 15px 0 0;
    color: #2E78B7;
}

.panel-heading-resources {
    text-align: center;
    padding-bottom: 0;
    padding-top: 3px;
}

.table-resources {
    background: #fff;
    width: 99.9999% !important;
    float: right;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #e2e8ef;
}

.fixed-table-container thead th .asc {
    background-image: url(../images/resources/asc-arrow.png);
}

.fixed-table-container thead th .desc {
    background-image: url(../images/resources/desc-arrow.png);
}

/** ---------------------------------
    The page loading gif
    @author: Gaurav Agaarwal
    @date-added: 03/26/2018
 ------------------------------------*/
#loading_image {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99;
    align-content: center;
}

#loading_image img {
    display: block;
    /* left: 45%; */
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    width: 5%;
    height: auto;
    padding-top: 30vh;
}

#loadVersion {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    height: 4%;
    position: absolute;
    width: 88%;
    z-index: 9;
    align-content: center;
}

#loadStatistics {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    height: 9%;
    position: absolute;
    width: 88%;
    z-index: 9;
    align-content: center;
}

#loadVersion img,
#loadStatistics img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
}

/* ---------------------------------
    Disclaimer & Privacy Policy
____________________________________  */
.section-margin section {
    margin-top: 40px;
}

/*---------------------------------------
    Download link button 
    for detail and link pages
    Updated October 17, 2018
-----------------------------------------*/
.downloadButton {
    float: right;
}

.btn-link-detail {
    text-decoration: none !important;
    font-size: 1em !important;
    font-weight: bold;
    margin-right: 1%;
}

.caret {
    border-width: 5px !important;
}

.dropdown-menu-list {
    min-width: 250px !important;
    margin-right: 3%;
    padding: 6%;
   font-size: 10px !important;
/*    padding-right: 2%;*/
}

.dropdown-menu-detail {
    padding: 2%;
}
/*------   End   --------*/
.container-contact {
    background: #fff; 
    margin-bottom: 35px;
    padding: 2% 5% 0;
}

/* ----------------------------
    @media Mobile screen adjustment 
--------------------------------*/
@media only screen and (max-width: 1350px) {
    .gg-nav-item a {
        font-size: 1em;
        font-weight: 550;
    }
    .glygenIconIndex {
        width: 50% !important;
    }
}

@media only screen and (max-width: 1280px) {
    .gg-nav-item a {
        font-size: 0.85em;
        font-weight: 600;
    }
}

@media only screen and (max-width: 1024px) {
    .glygenIconIndex {
        width: 50% !important;
    }
     body  {
        margin-bottom: 15%;
    }
}

@media (max-width: 768px) {
    body  {
        margin-bottom: 15%;
    }
    .homepageContainer {
        padding-bottom: 5%;
    }
    .cover-resources {
        padding: 40px;
        text-align: center;
        width: 97%;
    }
    .resource-img {
        padding-left: 70px;
    }
    .twitter-timeline2 {
        padding-right: 40px !important;
        font-size: 10px !important;
        font-weight: 200 !important;
    }
    
    .feedback, 
    .glycoprotein {
        margin: 0 auto;
        overflow: auto;
    }
}

@media (max-width: 700px) {
    .gg-settings {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
    }
    .btn-link-detail {
        margin-bottom: 3%;
    }
}

@media (max-width: 420px) {
    body  {
        margin-bottom: 55%;
    }
    .homepageContainer {
        padding-bottom: 25%;
    }
     .twitter-timeline {
        padding-right: 0 !important;
    }
}

@media (max-width: 375px) {
     body  {
        margin-bottom: 65%;
    }
     .homepageContainer {
        padding-bottom: 25%;
    }
}

@media (max-width: 330px) {
    body  {
        margin-bottom: 75%;
    }
     .homepageContainer {
        padding-bottom: 30%;
    }
}

@media (max-width: 320px) {
    
}